@font-face {
    font-family: 'Patriciana';
    src: url('/Wedding/font/patriciana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vetrino';
    src: url('/Wedding/font/Vetrino.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TildaSans';
    src: url('/Wedding/font/TildaSans-VF.woff') format('woff');
}

@font-face {
    font-family: 'Bodega';
    src: url('/Wedding/font/BodegaScript_0.woff') format('woff');
}

body {
    font-family: 'Patriciana', sans-serif;
    letter-spacing: 0.05em;
}

.blue {
    background-color: #a3bccb;
}

.green {
    background-color: #A8B9A3;
}

.lavanda {
    background-color: #C1B7D0;
}

.pink {
    background-color: #EAC7C7;
}

.patriciana-text {
    font-family: 'Patriciana', sans-serif;
    letter-spacing: 0.05em;
}

.tilda-text {
    font-family: 'TildaSans', sans-serif;
    font-weight: 400;
}

.circle {
    border-radius: 50%;
}

.bold {
    font-weight: 600;
}

.opacity {
    opacity: 0.5;
}


.section {
    margin: 0 auto;
    max-width: 600px;
    padding: 0px 20px;
}

.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.container__accept {
    margin-top: 25px;
}

.names__wrapper {
    display: flex;
    gap: 20px;
}

.names__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 10px;
}

.text-symbol {
    font-size: 53pt;
}

.text-name {
    font-size: 12pt;
    font-weight: bold;
}

.text-line {
    width: 100px;
    height: 1px;
    background-color: #000;
}

.names__photo {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 70%;
    max-height: 600px;  
}

.photo__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.names__photo-text {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: end;
    margin: 10px 30px 0px 0px;
    font-size: 12pt;
    letter-spacing: 0.3em;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
  
  .time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .number {
    font-size: 48px;
    letter-spacing: 2px;
  }
  
  .label {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 3px;
    margin-top: 4px;
    text-transform: uppercase;
    color: #333;
  }


  .guests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }

  .guests__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 23pt;
    letter-spacing: 0;
  }

  .guests__text {
    font-size: 15pt;
  }


  .guests__photo {
    height: 600px;
  }

  .guests__quote {
    font-family: 'Bodega', sans-serif;
    font-size: 25pt;
  }

  .guests__text-location {
    margin-top: 20px;
  }

.container__info {
    margin-top: 50px;
}

h1 {
    font-size: 20pt;
    font-weight: normal;
}

.information-text {
    font-size: 13pt;
}

.information__waiting {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information__waiting-quote {
    font-family: 'Bodega', sans-serif;
    font-size: 25pt;
}

.information__waiting-photo {
    width: 280px;
    height: 290px;
}

.palette__info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 13pt;
}

.palette__info-colors {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.info-colors {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


#confirm-btn {
    padding: 7px 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #333;
    background-color: gray;
    color: #fff;
    font-size: 15pt;
    cursor: pointer;
}

.icon {
    width: 15px;
    height: 15px;
    filter: invert(1);
    padding: 0px 5px;
}

.fade-block {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.fade-block.active {
    opacity: 1;
    visibility: visible;
    position: relative;
}

#thanks-block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.cancel-text-btn {
    padding: 30px 20px 20px 20px; 
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.cancel-text-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cancel-text-image {
    margin: 20px auto;
    width: 50px;
    height: 50px;
}

.cancel-text {
    width: 66.6%;
}

#cancel-btn {
    padding: 7px 5px;
    border: 1px solid transparent;
    border-color: #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.input_name {
    padding: 5px 10px;
}

.survey-text {
    margin: 30px 0px 50px 0px;
    padding: 15px;
    width: 100%;
    background: rgba(220, 236, 245, 0.722);
    border-left: 4px solid #f4623e;
}

.survey-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.survey-label-flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label-input {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    letter-spacing: 0.05em;
    gap: 8px;
}

.survey-send-btn {
    padding: 7px 5px;
    border: 1px solid transparent;
    border-color: #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    cursor: pointer;        
    font-weight: bold;
}

.schedule__header {
    font-size: 30pt;
}

.schedule__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.schedule__card {
    margin-top: 20px;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.schedule__card-time {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.schedule__card-text {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.card-info {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.schedule__card-description {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 11pt;
}